@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');


*{
    box-sizing: border-box;
    font-family: JetBrains Mono;
    font-size: 13px;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;    
    width: 100vw;
    height: 100vh;
    
}
.container{
    display: flex;
    gap: 100px;
    padding: 20px 100px;
    background-color: aliceblue;
    border-radius: 10px;
}


#posts div{
    display: flex;
    align-items: center;
    gap: 100px;
}
.option{
    display: flex;
    gap: 50px;
}
.option i {
    cursor: pointer;
}
#error{
    color: red;
}
#posts p{
    width: 400px;
}
button{
    padding: 5px 20px;
    background-color: cornflowerblue;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 3px;

}
.button-center{
        text-align: center;
    }
textarea{
    outline: none;
    border: 2px solid cornflowerblue;
    border-radius: 4px;
}
h3{
    text-align: center;
    text-decoration: underline;
}
label{
    text-align: center;
}
.right h5{
    text-decoration: underline;
}